<!--
    title of page data
-->
<p class="btn--rm medium">Navega con los datos</p>


<!--
    blank line (bad practice)
-->
<br><br><br>

<!--
    Searching  data
-->
<form class="form">
    <input type="search"  class="large" title="search" placeholder="Search technologies" ng-model="search">
    <span class="repeating">{{search}}</span>
</form>
<br>


<!--
    structure of data
-->
<table class="table">
    <tr>

        <th>Name</th>
        <th>Version</th>
        <th>Description</th>

    </tr>

    <!--
        showing data of controller
    -->
    <tr ng-repeat="i in infoArray | filter: search | limitTo: pos |limitTo: -5">


        <td> {{i.name}} </td>
        <td> {{i.version}} </td>
        <td> {{i.description}} </td>

    </tr>

</table>


<!--
    counter
-->
<div class="btn--yes large">
    <span>{{counter}} de {{len}}</span>
</div>

<br><br>



<!--
    buttons of back or next
-->
<section class="list">

    <button class="btn--rm" ng-click="backs()">Anterior</button>
    <button class="btn--yes" ng-click="nexts()">Siguiente</button>

</section>





